################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/endavaRestApi/obj/Release/net7.0
/endavaRestApi/obj/Debug/net7.0
/UnitTest/obj/Release/net6.0
/endavaRestApi/obj/Release/net6.0
/endavaRestApi.Tests
