################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/endavaRestApi/obj/Release/net7.0
/endavaRestApi/obj/Debug/net7.0
/UnitTest/obj/Release/net6.0
/endavaRestApi/obj/Release/net6.0
bin/
obj/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

.vscode

*.suo
*.vs/
*.v2
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
/endavaRestApi/.vs/endavaRestApi/v17/.suo